body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(skyphoto.jpg);
    background-size: cover;
    background-position: center;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsla(0, 0%, 15%, 0.24);
    backdrop-filter: blur(10px);
    border-top: solid 1px rgba(255, 255, 255, 0.4);
    border-left: solid 1px rgba(255, 255, 255, 0.4);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
    border-radius:15px;
    width: 95%;
    max-width: 400px;
    overflow: hidden;
}
#display{
    width: 200%;
    padding: 20px;
    font-size:5em;
    text-align: left;
    border: none;
    background-color: hsla(0, 0%, 20%, 0.24);
    backdrop-filter: blur(10px);
    color: white;
}
.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button {
    color: white;
    height: 100%;
    aspect-radius: 1:1;
    border-radius: 50%;
    border: none;
    font-size: 3rem;
    filter:drop-shadow(10px 10px 10px rgba(29, 29, 29, 0.452));
    cursor: pointer;
    background-color: hsla(0, 0%, 20%, 0.24);
    backdrop-filter: blur(10px);
    border-top: solid 1px rgba(255, 255, 255, 0.4);
    border-left: solid 1px rgba(255, 255, 255, 0.4);
    transition: ease-out 20ms;
}

button: hover {
    background-color: hsla(0, 0%, 40%, 0.24);
}
button :active {
    background-color: hsla(0, 0%, 50%, 0.24);
    scale:0.97;
}
.operator-btn {
    background-color: hsla(35, 100%, 55%, 0.24);
}
.operator-btn:hover {
    background-color: hsla(35, 100%, 65%, 0.24);
}
.operator-btn:active {
    background-color: hsla(35, 100%, 75%, 0.24);

}















